<form action="/Filter" method="post">
  <select class="custom-select" id="status" placeholder="Status" name="status" onchange="this.form.submit()">
    <option selected="" disabled="" hidden="">Status</option>
    <option>Not started</option>
    <option>In process</option>
    <option>Ready</option>
  </select>
</form>