<!DOCTYPE html>
<html>
  <head>
    <title>NodeJS lab</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/public/images/favicon.ico" />
	<link rel="stylesheet" href="/fontawesome/css/all.css" >
	<link rel="stylesheet" href="/bootstrap/datepicker/css/bootstrap-datepicker.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script type="text/javascript" src="/js/popper.js/umd/popper.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bootstrap/datepicker/js/bootstrap-datepicker.min.js" ></script>
  </head>
  <body>
    <div class="page-container ">
      <% include ./partials/task/list %>
	  <% include ./partials/task/form %>
    </div>
	<% include ./partials/task/footer %>
  </body>
</html>