<!DOCTYPE html>
<html>
  <head>
    <title>NodeJS lab</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/main.css" />
    <link rel="icon" href="../public/images/js.png" />
  </head>
  <body>
  </body>
</html> 